@tailwind components;
@tailwind base;
@tailwind utilities;

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}.text-amber-50 {
     --tw-text-opacity: 1;
     color: rgb(255 251 235 / var(--tw-text-opacity));
 }.bg-gray-700 {
      --tw-bg-opacity: 1;
      background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }.grid-rows-20 {
    grid-template-rows: repeat(20, minmax(0, 1fr));
      }